.photo-editor {
    /*background-color: #bdbdbd;*/
    height: 600px;
    width: 800px;
    max-width: 800px;
    border: 2px double black;
}
.photo-editor__canvas {
    max-width: inherit;
    position: absolute
}
.select-block {
    background-color: rgba(13, 136, 193, 0.3);;
    border: 3px solid #0587c4;
}
.content {
    display: flex;
}
.photo-editor-user {
    height: 80vh;
    width: 100%;
    border: 2px double black;
    margin-left: 10px;
}
.photo-editor-result {
    max-height: 600px;
}
.photo-result__canvas {
    max-height: inherit;
}
.photo-user__canvas {
    height: inherit;
    position: absolute;
}